<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360746586745-b57ma5b1f7q60r6p7a8aso91po19381v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360746586745-b57ma5b1f7q60r6p7a8aso91po19381v</string>
	<key>API_KEY</key>
	<string>AIzaSyAk0Te_rW_-a6pxc5ExO4s6cg7CwhJXSy4</string>
	<key>GCM_SENDER_ID</key>
	<string>360746586745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.brandonwalter.fyrefly</string>
	<key>PROJECT_ID</key>
	<string>fyrefly-92a36</string>
	<key>STORAGE_BUCKET</key>
	<string>fyrefly-92a36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360746586745:ios:2f976f49e98d3e75d23aa8</string>
	<key>DATABASE_URL</key>
	<string>https://fyrefly-92a36.firebaseio.com</string>
</dict>
</plist>